<form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="Title"> Title: </label>
  <input type="text" id="title" name="title" value="<%= @article.title%>">
  </p>
  <p>
  <label for="Content"> Content: </label>
  <input type="text" id="content" name="content" value="<%= @article.content%>">
  </p>
  <input type="submit" value="submit">
</form>


#   <p>Title: <%= @article.title%></p>
#   <p>Content: <%= @article.content%></p>